/* https://coolors.co/2b2d42-7cacc0-bde0eb-f58a07-015a79 */
html,
body {
  height: 100%;
  margin: 0;
  font: 13px Helvetica, Arial;
  background-color: #2b2d42;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.box .row.footer {
  flex: 0 1 40px;
}
.username-header {
  padding: 10px 10px;
  color: beige;
  height: 20px;
  background-color: #7cacc0;
}

.input-form {
  width: 100%;
  justify-content: center;
}

.input-form input {
  width: 80%;
  height: 20px;
  padding: 5px 5px;
  margin: 10px 5px;
  border-radius: 10px;
  background-color: #4e447a;
  color: white;
}

.input-form button {
  padding: 5px 5px;
  width: 15%;
  height: 35px;
  border-radius: 10px;
  background-color: #c22320;
}

#messages {
  list-style-type: none;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
  height: 30px;
  border-radius: 3px;
}

#users {
  list-style-type: none;
  color: aliceblue;
  padding-top: 20px;
  text-align: center;
}

.title-head {
  height: 50px;
  color: white;
  display: flex;
  background-color: #015a79;
  justify-content: center;
  padding-top: 20px;
}

.title-head h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.chat {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.online-users {
  background-color: #f58a07;
  padding: 3px;
  position: absolute;
  right: 0;
  width: 20%;
  height: 95%;
  border-radius: 3px;
}

.online-users h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#users-list {
  overflow: auto;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.online-users h1 {
  color: whitesmoke;
  text-align: center;
  padding-top: 15px;
}

.online-users li {
  padding-top: 10px;
  position: relative;
}

#username-header {
  padding: 10px 10px;
  display: inline-flex;
  flex-direction: row;
  color: beige;
  height: 50px;
  background-color: aqua;
}
